<div class="px-4 py-2">
  <p class="text-sm leading-5">
   {{@firstLine}} 
  </p>
  <p class="text-sm leading-5 font-medium text-gray-900">
    {{@secondLine}} 
  </p>
</div>

<Dropdown::Menu::Divider />